* {
    margin: 0px;
}

.principal {
    display: block;
    border: 1px solid;
    border-color: black;
    width: auto;
}

.cuadrouno {
    font-size: 12px;
    width: auto;
    height: 40px;
    display: flex;
    background-color: rgb(238, 238, 238);
    padding-top: 1%;
    padding-left: 18%;
}


.quedateencasa{
    padding-top: 5px;
    padding-left: 08%;
}

.iconos {
    position: absolute;
    margin: px;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 50%;
    padding-right: 25%;
    width: 100;
    display: flexbox;
    height: 40px;
}

#icn1 {
    padding-right: 10px;
}

#icn2 {
    padding-right: 10px;
}

#icn3 {
    padding-right: 10px;
}

#icn4 {
    padding-right: 10px;
}

.barra {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 11%;
    height: 40px;
}

.lupita {
    display: inline-block;
    position: absolute;
    width: 20px;
    padding-left: 4px;
    padding-right: 1px;
    padding-bottom: 4.5px;
    padding-top: 3px;
    background-color: rgb(133, 114, 114);
}
.cuadrodos{
    width: 100%;
    align-items: center;
    display: flex;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.imagenucsc{
    padding: 2rem;
    display: flex;
}


#primeraucsc {
    width: 287px;
    height: 87px;
    padding-left: 20rem;
    padding-right: 2rem;
    padding-top: 2%;
}

.letrasarriba{
    padding-top: 40px;
    font-size: 22px;
    padding-left: 2rem;
    border-left: 1px solid;
    background-color: white;
    color: #c52b2b;
}
.cuadrotres{
    font-size: 12px;
    width: 100%;
    height: 30px;
    background-color: white;
}
.menu{
    display: inline-block;
    padding-left: 23rem;
    padding-right: 2rem;
}

#texto1{
    display: inline-block;
    padding-right: 20px;
}
#texto2{
    display: inline-block;
    padding-right: 20px;
}
#texto3{
    display: inline-block;
    padding-right: 20px;
}
#texto4{
    display: inline-block;
    padding-right: 20px;
}
#texto5{
    display: inline-block;
    padding-right: 20px;
}
#texto6{
    display: inline-block;
    padding-right: 20px;
}
#texto7{
    display: inline-block;
    padding-right: 20px;
}

.cuadrocuatro {
    padding-top: 2%;
    width: 100%;
    height: 350px;
    background-color: #f1e6e8;
}

.imagen1{
    padding-left: 22rem;
    display: inline-block;
}
#imagen1{
    width: 300px;
    height: 150px;
}
#textoimagen1{
    position: absolute;
    top: 56%;
    left: 26%;
    color: white;
    
}.lineanaranja1{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 56%;
    left: 26%;

}
.lineanaranja2{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 56%;
    left: 49%;
}
.imagen2{
    display: inline-block;
    padding-left: 1rem;
}
#imagen2{
    width: 300px;
    height: 150px;
}

#textoimagen2{
    position: absolute;
    top: 56%;
    left: 49%;
    color: white;
}

.imagen3{
    display: inline-block;
    padding-left: 1rem;
}
#imagen3{
    width: 300px;
    height: 150px;
}
#textoimagen3{
    position: absolute;
    top: 52%;
    left: 71%;
    color: white;
}
.lineanaranja3{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 56%;
    left: 71%;
}
.imagen4{
    display: inline-block;
    padding-left: 22rem;
    padding-top: 1rem;
}
#imagen4{
    width: 300px;
    height: 150px;
}
#textoimagen4{
    position: absolute;
    top: 76%;
    left: 26%;
    color: white;
}
.lineanaranja4{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 79%;
    left: 26%;
}
.imagen5{
    display: inline-block;
    padding-left: 1rem;
    
}
#imagen5{
    width: 300px;
    height: 150px;
}
#textoimagen5{
    position: absolute;
    top: 74%;
    left: 49%;
    color: white;
}
.lineanaranja5{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 49%;
}
.imagen6{
    display: inline-block;
    padding-left: 1rem;
}
#imagen6{
    width: 300px;
    height: 150px;
}

#textoimagen6{
    position: absolute;
    top: 80%;
    left: 71%;
    color: white;
}
.lineanaranja6{
    color: rgb(190, 125, 4);
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 71%;
}

.cuadrocinco {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: white;
}
.imagenucsc2{
    display: inline-block;
}

#imagenucsc2 {
    display: inline-block;
    width: 150px;
    height: 90px;
    padding-left: 22rem;
    padding-right: 2rem;
    padding-bottom: 0.5px;
}

.menu2{
    position: absolute;
    display: inline-block;
    padding-left: 95px;
    margin-top: 25px;
}

#texto11{
    margin-bottom: 10px;
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}
#texto21{
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}
#texto31{
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}
#texto41{
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}
#texto51{
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}
#texto61{
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;

}
#texto71{
    padding-bottom: 10%;
    left: 30%;
    font-size: 12px;
    display: inline-block;
    padding-left: 79%;
}

.cuadroseis{
    display: inline-block;
    width: 100%;
    height: 190px;
    background-color:white;
}

.informacion{
    display: inline-block;
    font-size: 14px;
    padding-left: 22rem;
}

.campus{
    font-size: 13px;
    color: #c52b2b;
    
}
.iconos2 {
    position: absolute;
    margin: px;
    top: 102%;
    right: 0;
    padding-top: 20px;
    padding-left: 40%;
    padding-right: 40%;
    width: 100;
    display: flexbox;
    height: 40px;
}

#icn11 {
    padding-right: 10px;
}

#icn12{
    padding-right: 10px;
}

#icn13 {
    padding-right: 10px;
}

#icn14{
    padding-right: 10px;
}

.informacion2{
    font-size: 15px;
    position: absolute;
    display: inline-block;
    padding-left: 50px;
    padding-top: 3%;
}