.borde{
    margin: 0%;
    padding: 0%;
    height: 100px;
    width: 460px;
    border-color: black;
    border-style:solid;
    border-width: 1px;
}

.foto{
    display: inline-block;
    margin: 0%;
    height: 100%;
    width: 100%;
    border-color: black;
    border-style:solid;
    border-width: 1px;
}

#fotos{
    margin: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;

}
.bloquenombre{
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: 10px;
    padding: 0%;
    left: 110%;
    border-color: black;
    border-style:solid;
    border-width: 1px;
}

.fecha{
    display: inline-block;
    position: absolute;
    opacity: 50%;
    font-size: 15px;
    left: 350px;
    border-color: black;
    border-style:solid;
    border-width: 1px;
}