.borde{
    display: block;
    height: 100px;
    width: 460px;
    color: black;
    border: 1px solid;

}

.foto{
    display: inline-block;
    height: 100px;
    width: 100px;
    color: black;
    border: 1px solid;
}

#fotos{
    padding-top: 8px;
    padding-left: 8px;
    width: 75px;
    height: 75px;
    border-radius: 50%;

}
.bloquenombre{
    display: inline-block;
    height: 90px;
    width: 250px;
    border-color: black;
    border: 1px solid;
}
.texto{
    text-align: center;
}